easydict==1.13
tokenizers==0.19.1
numpy6
ftfy==6.2.0
transformers==0.0.27.post2
imageio==2.34.2
fairscale==0.4.13
ipdb==0.13.13
open-clip-torch==2.26.1
xformers==0.0.27.post2
chardet==5.2.0
torchdiffeq==0.2.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
torchsde==0.2.6
simplejson==3.19.2
motion-vector-extractor==1.0.6
scikit-learn==1.5.1
scikit-image==0.24.0
rotary-embedding-torch==0.6.4
pynvml==11.5.3
triton==3.0.0
pytorch-lightning==2.3.3
torchmetrics==1.4.0.post0
gradio==4.39.0
imageio-ffmpeg==0.5.1
piq==0.8.0
